## Ch 03. Built-in Data Structure, Functions, and Files

### 3.1 Data Structures and Sequences

#### Tuple

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [8]:
# convert list to tuple
tuple([4, 0, 2])

(4, 0, 2)

In [9]:
# convert string to tuple
tup = tuple('string')

In [10]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0]

's'

In [18]:
tup = tuple(['foo', [1, 2], True])

In [19]:
tup[2]

True

In [20]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [21]:
tup[1].append(3)

In [22]:
tup

('foo', [1, 2, 3], True)

In [25]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [26]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [27]:
tup = (4, 5, 6)

In [28]:
a, b, c = tup

In [29]:
b

5

In [30]:
c

6

In [31]:
tup = 4, 5, (6, 7)

In [32]:
a, b, (c, d) = tup

In [33]:
d

7

In [34]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [35]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [36]:
values = 1, 2, 3, 4, 5

In [37]:
a, b , *rest = values

In [38]:
a, b

(1, 2)

In [39]:
rest

[3, 4, 5]

In [42]:
# name does not matter
a, b, *_ = values

In [41]:
_

[3, 4, 5]

In [43]:
a = (1, 2, 2, 2, 3, 4, 2)

In [44]:
a.count(2)

4

### List

In [45]:
a_list = [2, 3, 7, None]

In [46]:
tup = ('foo', 'bar', 'baz')

In [47]:
b_list = list(tup)

In [48]:
b_list

['foo', 'bar', 'baz']

In [50]:
b_list[1] = 'peekaboo'

In [51]:
b_list

['foo', 'peekaboo', 'baz']

In [53]:
gen = range(10)

In [54]:
gen

range(0, 10)

In [55]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [56]:
b_list.append('dwarf')

In [57]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [58]:
b_list.insert(1, 'red')

In [59]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [60]:
b_list.pop(2)

'peekaboo'

In [61]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [62]:
b_list.append('foo')

In [63]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [64]:
b_list.remove('foo')

In [65]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [66]:
'dwarf' in b_list

True

In [67]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [68]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [69]:
x = [4, None, 'foo']

In [70]:
x.extend([7, 8, (2, 3)])

In [71]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort

In [72]:
a = [7, 2, 5, 1, 3]

In [73]:
a.sort()

In [74]:
a

[1, 2, 3, 5, 7]

In [75]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [76]:
b.sort()

In [77]:
b

['He', 'foxes', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list