## Ch 03. Built-in Data Structure, Functions, and Files

### 3.1 Data Structures and Sequences

#### Tuple

In [1]:
tup = 4, 5, 6

In [2]:
tup

(4, 5, 6)

In [3]:
nested_tup = (4, 5, 6), (7, 8)

In [4]:
nested_tup

((4, 5, 6), (7, 8))

In [8]:
# convert list to tuple
tuple([4, 0, 2])

(4, 0, 2)

In [9]:
# convert string to tuple
tup = tuple('string')

In [10]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [11]:
tup[0]

's'

In [18]:
tup = tuple(['foo', [1, 2], True])

In [19]:
tup[2]

True

In [20]:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [21]:
tup[1].append(3)

In [22]:
tup

('foo', [1, 2, 3], True)

In [25]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [26]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [27]:
tup = (4, 5, 6)

In [28]:
a, b, c = tup

In [29]:
b

5

In [30]:
c

6

In [31]:
tup = 4, 5, (6, 7)

In [32]:
a, b, (c, d) = tup

In [33]:
d

7

In [34]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [35]:
for a, b, c in seq:
    print('a = {0}, b = {1}, c = {2}'.format(a, b, c))

a = 1, b = 2, c = 3
a = 4, b = 5, c = 6
a = 7, b = 8, c = 9

In [36]:
values = 1, 2, 3, 4, 5

In [37]:
a, b , *rest = values

In [38]:
a, b

(1, 2)

In [39]:
rest

[3, 4, 5]

In [42]:
# name does not matter
a, b, *_ = values

In [41]:
_

[3, 4, 5]

In [43]:
a = (1, 2, 2, 2, 3, 4, 2)

In [44]:
a.count(2)

4

### List

In [45]:
a_list = [2, 3, 7, None]

In [46]:
tup = ('foo', 'bar', 'baz')

In [47]:
b_list = list(tup)

In [48]:
b_list

['foo', 'bar', 'baz']

In [50]:
b_list[1] = 'peekaboo'

In [51]:
b_list

['foo', 'peekaboo', 'baz']

In [53]:
gen = range(10)

In [54]:
gen

range(0, 10)

In [55]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

#### Adding and removing elements

In [56]:
b_list.append('dwarf')

In [57]:
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [58]:
b_list.insert(1, 'red')

In [59]:
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [60]:
b_list.pop(2)

'peekaboo'

In [61]:
b_list

['foo', 'red', 'baz', 'dwarf']

In [62]:
b_list.append('foo')

In [63]:
b_list

['foo', 'red', 'baz', 'dwarf', 'foo']

In [64]:
b_list.remove('foo')

In [65]:
b_list

['red', 'baz', 'dwarf', 'foo']

In [66]:
'dwarf' in b_list

True

In [67]:
'dwarf' not in b_list

False

#### Concatenating and combining lists

In [68]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [69]:
x = [4, None, 'foo']

In [70]:
x.extend([7, 8, (2, 3)])

In [71]:
x

[4, None, 'foo', 7, 8, (2, 3)]

#### Sort

In [72]:
a = [7, 2, 5, 1, 3]

In [73]:
a.sort()

In [74]:
a

[1, 2, 3, 5, 7]

In [75]:
b = ['saw', 'small', 'He', 'foxes', 'six']

In [76]:
b.sort()

In [77]:
b

['He', 'foxes', 'saw', 'six', 'small']

#### Binary search and maintaining a sorted list

In [1]:
import bisect

In [2]:
c = [1, 2, 2, 2, 3, 4, 7]

bisect.bisect finds the location where an elenment should be inserted to keep it sorted

In [3]:
bisect.bisect(c, 2)

4

bisect.insort inserts the element into the location and keep the list sorted

In [4]:
bisect.insort(c, 6)

In [5]:
c

[1, 2, 2, 2, 3, 4, 6, 7]

#### slicing

In [6]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [7]:
seq[1:5]

[2, 3, 7, 5]

In [10]:
seq[3:4]

[7]

In [11]:
seq[3:4] = [6, 3]

In [12]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [13]:
seq[:5]

[7, 2, 3, 6, 3]

In [14]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [15]:
seq[-4:]

[5, 6, 0, 1]

In [16]:
seq[-6:-2]

[6, 3, 5, 6]

In [17]:
seq[::2]

[7, 3, 3, 6, 1]

In [18]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

### Sequence Functions

#### enumerate function
Return a sequence of (i, value) tuples. Useful in for loop

In [19]:
some_list = ['foo', 'bar', 'baz']

In [32]:
mapping = {}
mapping_1 = {}

In [33]:
for i in range(len(some_list)):
    mapping[some_list[i]] = i

In [34]:
for i, v in enumerate(some_list):
    mapping_1[v] = i

In [35]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [36]:
mapping_1

{'foo': 0, 'bar': 1, 'baz': 2}

#### sorted function

In [37]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [38]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

#### zip function
Pairs up the elements of a number of lists, tuples, or other sequences to create a list of tuples

In [45]:
seq1 = ['foo', 'bar', 'baz']

In [46]:
seq2 = ['one', 'two', 'three']

In [47]:
zipped = zip(seq1, seq2)

In [48]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [49]:
seq3 = [False, True]

In [50]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

Using zip and enumerate together is common when iterating over multiple sequences.

In [52]:
for i, (a,b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

Unzip the sequence using zip. This trick can convert a list of rows to a list of columns

In [53]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [62]:
first_names, last_names = zip(*pitchers)

In [55]:
first_names

('Nolan', 'Roger', 'Schilling')

In [63]:
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed function

In [64]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

### Dictionary

In [65]:
empty_dict = {}

In [66]:
d1 = {'a': 'some value', 'b': [1, 2, 3, 4]}

In [67]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [68]:
d1[7] = 'an integer'

In [69]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [70]:
d1['b']

[1, 2, 3, 4]

In [71]:
'b' in d1

True

In [72]:
d1[5] = 'some value'

In [73]:
d1['dummy'] = 'another value'

In [74]:
del d1[5]

In [75]:
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [76]:
ret = d1.pop('dummy')

In [77]:
ret

'another value'

In [78]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [79]:
list(d1.keys())

['a', 'b', 7]

In [80]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [81]:
d1.update({'b': 'foo', 'c': 12})

In [82]:
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

#### Creating dicts from sequences

In [87]:
mapping = dict(zip(range(5), reversed(range(5))))

In [88]:
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

#### Default values

In [89]:
words = ['apple', 'bat', 'bar', 'atom', 'book']

In [96]:
by_letter = {}

In [97]:
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)

In [98]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

use setdefault to rewrite the above loop

In [99]:
by_letter = {}

In [100]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

In [101]:
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']}

In [103]:
from collections import defaultdict

In [104]:
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)

In [105]:
by_letter

defaultdict(list, {'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book']})

#### Valid dict keys types
for dictionarys

In [106]:
hash('string')

3707283042323311783

In [107]:
hash((1, 2, (2, 3)))

1097636502276347782

In [108]:
hash((1, 2, [2, 3]))

TypeError: unhashable type: 'list'

In [109]:
d = {}

In [111]:
d[tuple([1, 2, 3])] = 5

In [112]:
d

{(1, 2, 3): 5}

### Set

In [114]:
set([2, 2, 2, 1, 3, 3])

{1, 2, 3}

In [115]:
{2, 2, 2, 1, 3, 3}

{1, 2, 3}

In [116]:
a = {1, 2, 3, 4, 5}

In [117]:
b = {3, 4, 5, 6, 7, 8}

#### Union

In [118]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [119]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8}

#### intersect

In [120]:
a.intersection(b)

{3, 4, 5}

In [121]:
a & b

{3, 4, 5}

#### List, Set, and Dict Comprehensions

Filter out strings with length 2 or less and convert them to uppercase

In [123]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']

In [125]:
[x.upper() for x in strings if len(x) > 2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [126]:
unique_lengths = {len(x) for x in strings}

In [127]:
unique_lengths

{1, 2, 3, 4, 6}

In [132]:
set(map(len, strings))

{1, 2, 3, 4, 6}

In [133]:
loc_mapping = {val: index for index, val in enumerate(strings)}

In [134]:
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

#### Nested list comprehensions

In [137]:
all_data = [['John', 'Emily', 'Micheal', 'Mary', 'Steven'], ['Maria', 'Juan', 'Javier', 'Natalia', 'Pilar']]

In [138]:
names_of_interest = []

In [139]:
result = [name for names in all_data for name in names if name.count('e') >= 2]

In [140]:
result

['Steven']

In [142]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [144]:
flattened = [x for tup in some_tuples for x in tup]

In [145]:
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

### Functions

In [147]:
def my_function(x, y, z = 1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

In [148]:
my_function(5, 6, z = 0.7)

0.06363636363636363

In [149]:
my_function(3.14, 7, 3.5)

35.49

In [150]:
my_function(10, 20)

45.0

#### Returning Muliple Values

In [152]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

In [153]:
return_value = f()

In [154]:
return_value

(5, 6, 7)

In [155]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a': a, 'b': b, 'c': c}

In [156]:
return_value = f()

In [157]:
return_value

{'a': 5, 'b': 6, 'c': 7}

#### Functions are objects

In [158]:
states = [' Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda', 'south carolina##', 'West virginia?']

In [159]:
import re

In [162]:
def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?]', '', value)
        value = value.title()
        result.append(value)
    return result

In [163]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South Carolina',
 'West Virginia']